<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{site_logo}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{user}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      {% comment %} <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> {% endcomment %}
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      {% if app_list %}
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header"> APPS</li>
        {% for app in app_list %}
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>{{ app.name }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% for model in app.models %}
            <li class="active"><a href="{{ model.admin_url }}"><i class="fa fa-circle-o"></i> {{ model.name }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
        </li>

      </ul>
      {% else %}<p>App list missing
        {% endif %}</p>

    </section>
  </aside>
    <!-- /.sidebar -->
  