<!DOCTYPE html>
<html lang="en">
    {%load static %}
    {% load socialaccount %}
    <!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'atinuke/zokashlogo.jpg' %}">
   <meta name="apple-mobile-web-app-title" content="zokash">
    <meta name="application-name" content="A.Ajomosh">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <!-- SEO Meta Tags -->
      <title>Sign Up for an Account | Aajomos Nigeria Limited</title>
      <meta name="description" content="Create an account on Aajomos Nigeria Limited to access exclusive offers, track your orders, and manage your profile. Join our community today!">
      <meta name="keywords" content="sign up, create account, register, Aajomos Nigeria Limited, aajomos.com, account registration, Nigeria">
      <meta name="author" content="Aajomos Nigeria Limited">
    <link rel="icon" type="image/jpg" href="{{ site_settings.site_logo.url }}">
      
      <!-- Open Graph Meta Tags for Social Media -->
      <meta property="og:title" content="Sign Up for an Account | Aajomos Nigeria Limited">
      <meta property="og:description" content="Join Aajomos Nigeria Limited by creating an account to access special offers, track your orders, and manage your profile seamlessly.">
      <meta property="og:image" content="https://aajomos.com/images/signup-banner.jpg"> <!-- URL to a preview image -->
      <meta property="og:url" content="https://aajomos.com/signup">
      <meta property="og:type" content="website">
      
      <!-- Twitter Card Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Sign Up | Aajomos Nigeria Limited">
      <meta name="twitter:description" content="Create an account on Aajomos Nigeria Limited to unlock exclusive benefits and manage your purchases.">
      <meta name="twitter:image" content="https://aajomos.com/images/twitter-card-signup.jpg">
      
      <!-- Robots Meta Tag -->
      <meta name="robots" content="index, follow">
  
      <!-- Canonical Tag to Avoid Duplicate Content -->
      <link rel="canonical" href="https://aajomos.com/signup">
     
</head>

<body>
    <div class="page-wrapper">

        <main class="main">
            
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url({% static 'xatinuke/homepage.jpg' %})">
                <h6 class="text-center"><a href="{% url 'store:index' %}" style="color:blue;">back to site</a></h6>
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link" id="signin-tab-2" href="{% url 'store:login' %}" role="tab" aria-controls="signin-2" >Sign In</a>
							    </li>
                
							    <li class="nav-item">
                                    <a class="nav-link active" id="register-tab-2"  role="tab" aria-controls="register-2">Register</a>
							    </li>

							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                      <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <!-- {{ form.as_p }}  -->
                      
                        {%if form.errors %}
                        <p style="color: red;"> 
                           <p> {{form.errors.email}}
                            {{form.errors.password1}}
                            {{form.errors.password2}}
                        </p>
                        {%endif%}
  
                        <div class="form-group">
                          <label for="email">Your email address *</label>
                          <input type="email" class="form-control" id="id_email" name="email" required>
                          {%if form.errors.mail %}
                          <p> {{form.errors.email}}</p>
                          {%endif%}
                        </div><!-- End .form-group -->
  
                        <div class="form-group">
                          <label for="password">Password *</label>
                          <input type="password" class="form-control" id="id_password1" name="password1" required>
                        </div><!-- End .form-group -->
                        <div class="form-group">
                          <label for="register-password-2">Confirm Password *</label>
                          <input type="password" class="form-control" id="id_password2" name="password2" required>
                        </div><!-- End .form-group -->
                        <div class="show-password">
                          <input type="checkbox" id="show-password-checkbox">
                          <label for="show-password-checkbox">Show Password</label>
                        </div>

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="register-policy-2" required>
												<label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
											</div><!-- End .custom-checkbox -->
							    		</div><!-- End .form-footer -->
							    	</form>
							    	<div class="form-choice">
								    	<p class="text-center">or sign in with</p>
								    	<div class="row">
								    		<div class="col-sm-6">
<a href="{% provider_login_url 'google' %}?next=store:index" class="btn btn-login btn-g">
  <i class="icon-google"></i>
  Login With Google
</a> 
								    		</div><!-- End .col-6 -->
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login  btn-f">
								    				<i class="icon-facebook-f"></i>
								    				Login With Facebook
								    			</a>
								    		</div><!-- End .col-6 -->
								    	</div><!-- End .row -->
							    	</div><!-- End .form-choice -->
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

 
    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script>
      document.getElementById('show-password-checkbox').addEventListener('change', function() {
          var passwordInputs = document.querySelectorAll('input[type="password"], input[type="text"]');
          passwordInputs.forEach(function(input) {
              if (input.type === 'password') {
                  input.type = 'text';
              } else {
                  input.type = 'password';
              }
          });
      });
    </script>
    
</body>


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
</html>
