{% load i18n %}
{% autoescape off %}
{% blocktrans %}Hello from {{ current_site }}{% endblocktrans %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ current_site }}.{% endblocktrans %}

{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}
{{ password_reset_url }}

{% blocktrans %}Your username, in case you’ve forgotten: {{ user.get_username }}{% endblocktrans %}

{% blocktrans %}Thank you for using our site!{% endblocktrans %}
{% endautoescape %}
