{% extends "store/base.html" %}
{% load static %}
{% block content %}
{% load star_rating %}   
{% load custom_filters %}
{% load humanize %}
{{block.super}}
<main>
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store:categories-list' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
            </ol>
            {% block title %}
            {{ product.title }}
            {% endblock title %}
            {% block seo %}
            <meta name="description" content="{{ product.description.title }}">
            <meta name="keywords" content="{{ product.title }}">
            {% endblock seo %}
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content" data-product-id="{{ product.id }}">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-separated">
                            <span class="product-label label-sale">{{ product.label }}</span>
                            <figure class="product-separated-itemx">
                                <img src="{{ product.img_1.url }}" alt="product image">
                                <a href="#" id="btn-separated-gallery" class="btn-product-gallery">
                                    <i class="icon-arrows"></i>
                                </a>
                            </figure>

                            {% if product.img_2 %}
                            <figure class="product-separated-item">
                                <img src="{{ product.img_2.url }}" alt="product image">
                            </figure>
                            {% endif %}

                            {% if product.img_3 %}
                            <figure class="product-separated-item">
                                <img src="{{ product.img_3.url }}" alt="product image">
                            </figure>
                            {% endif %}

                            {% if product.img_4 %}
                            <figure class="product-separated-item">
                                <img src="{{ product.img_4.url }}" alt="product image">
                            </figure>
                            {% endif %}
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details sticky-content">
                            <h1 class="product-title" id="product-title">{{ product.title }}</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <style>
                                    #star-ratings {
                                        font-size: 20px;
                                        color: gold;
                                    }
                                </style>
                                <div id="star-ratings">
                                    <p id="average-rating">
                                        {{ product.average_rating|floatformat:1 }}
                                    </p>
                                    {% star_rating product.average_rating %}
                                </div>
                                <span class="ratings-text">{{ item.count }} {{ count }} (reviews)</span>
                            </div><!-- End .ratings-container -->

                            <div class="product-price">
                                {% if product.discount_price %}
                                <span class="new-price" id="new-price">&#8358;{{ product.discount_price|floatformat:2|intcomma }}</span>
                                <span class="old-price">&#8358;{{ product.price|floatformat:2|intcomma }}</span>
                                {% else %}
                                <span class="new-price">&#8358;{{ product.price|floatformat:2|intcomma }}</span>
                                {% endif %}
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p id="product-description">{{ product.description }}</p>
                            </div><!-- End .product-content -->

                            <div class="product-details-action">           
                                <button class="btn-product btn-cart btn" type="submit" id="cart-btn">
                                <!--class=" btn btn-product btn-wishlist"  -->
                                <span>Add to Cart</span></button>
                                <div class="details-action-wrapper">
                                    <!-- <button id="remove-from-wishlist" class="btn-product btn-wishlist  btn-link" data-url="{{ product.get_remove_from_wishlist_url }}" class="btn btn-danger">Remove from Wishlist</button> -->
                                    <button class="toggle-wishlist btn-product btn-wishlist btn" 
                                    data-add-url="{{ product.get_add_to_wishlist_url }}" 
                                    data-remove-url="{{ product.get_remove_from_wishlist_url }}" 
                                    data-product-id="{{ product.id }}" 
                                    class="btn">
                                {% if in_wishlist %}
                                    Remove from Wishlist
                                {% else %}
                                    Add to Wishlist
                                {% endif %}
                            </button>  
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->
                            <div >
                                <label for="qty"> Minimum order: {{product.minimum_order}} pcs</label>
                                    <div class="product" data-product-id="{{ product.id }}"></div>>
                                        <label for="colors">Select Colors:</label><br>
                                        <div class="product-colors">
                                            {% for color in product.color.all %}
                                            <div class="color-option" data-color-id="{{ color.id }}">
                                                <label>{{ color.name }}</label>
                                                <input type="number" id="quantity-input" data-color-name="{{ color.name }}" data-color-id="{{ color.id }}" value="0" min="0">
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="quantity">Quantity:</label>
                                    </div>
                                <label for="size">Size:</label>
                                <div id="cart">
                                    <input type="hidden" id="product-id" value="{{ product.id }}">
                                    <div class="cart-item">
                                        <h3>{{ product.title }}</h3>
                                        {% for color in colors %}
                                            <div class="color-quantity">
                                                <label for="color-{{ color.name }}">Color: {{ color.name }}</label>
                                                <input type="hidden" name="color" value="{{ color.name }}" class="color-input">
                                                <label for="quantity-{{ color.name }}">Quantity:</label>
                                                <input type="number" name="quantity" class="quantity-input" min="1" value="1" data-color="{{ color.name }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>                            
    </div>
                            </div>
                            <div class="details-filter-row details-row-size">
                                <label for="qty"> total Qty: </label>
                                <input type="hidden" id="product-id" value="{{ product.id }}" name="id">   
                            </div>
                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Category:</span>
                                    <a href="#">{{ product.category.title }}</a>
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div><!-- End .social-icons -->
                            </div><!-- End .product-details-footer -->

                            <div class="accordion accordion-plus product-details-accordion" id="product-accordion">
                                <div class="card card-box card-sm">
                                    <div class="card-header" id="product-desc-heading">
                                        <h2 class="card-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-desc" aria-expanded="false" aria-controls="product-accordion-desc">
                                                Description
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="product-accordion-desc" class="collapse" aria-labelledby="product-desc-heading" data-parent="#product-accordion">
                                        <div class="card-body">
                                            <div class="product-desc-content">
                                                <p>{{ product.description }}</p>
                                            </div><!-- End .product-desc-content -->
                                        </div><!-- End .card-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->

                                <div class="card card-box card-sm">
                                    <div class="card-header" id="product-info-heading">
                                        <h2 class="card-title">
                                            <a role="button" data-toggle="collapse" href="#product-accordion-info" aria-expanded="true" aria-controls="product-accordion-info">
                                                Additional Information
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="product-accordion-info" class="collapse show" aria-labelledby="product-info-heading" data-parent="#product-accordion">
                                        <div class="card-body">
                                            <div class="product-desc-content">
                                                <p>{{ product.additional_information }}</p>

                                                {% if product.features %}
                                                <h3>Features</h3>
                                                <ul>
                                                    {% if product.features.feature1 %}
                                                    <li>{{ product.features.feature1 }}</li>
                                                    {% endif %}
                                                    {% if product.features.feature2 %}
                                                    <li>{{ product.features.feature2 }}</li>
                                                    {% endif %}
                                                    {% if product.features.feature3 %}
                                                    <li>{{ product.features.feature3 }}</li>
                                                    {% endif %}
                                                    {% if product.features.feature4 %}
                                                    <li>{{ product.features.feature4 }}</li>
                                                    {% endif %}
                                                    {% if product.features.feature5 %}
                                                    <li>{{ product.features.feature5 }}</li>
                                                    {% endif %}
                                                </ul>
                                                {% endif %}
                                                {%for siz in product.size.all %}
                                                <b>Size: {{ siz.size }}</b>
                                                {%endfor%}
                                            </div><!-- End .product-desc-content -->
                                        </div><!-- End .card-body -->
                                       
                                            </div><!-- End .product-desc-content -->
                                        </div><!-- End .card-body -->

                                        
                                            
                                            
                                            {% for rating in ratings %}               
                                        <div class="card card-box card-sm">
                                            <div class="card-header" id="product-review-heading">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-review" aria-expanded="false" aria-controls="product-accordion-review">
                                                        Reviews ({{count}})
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="product-accordion-review" class="collapse" aria-labelledby="product-review-heading" data-parent="#product-accordion">
                                                <div class="card-body">
                                                    <div class="reviews">
                                                        <div class="review">
                                                      
                                                        <div class="review">
                                                            <div class="row no-gutters">
                                                                <div class="col-auto">
                                                                    <h4><a href="#">{{rating.user.username}}</a></h4>
                                                                    <div class="ratings-container">
                                                                        <div id="star-ratings"  style="width: 100%;">
                                                                            {% load star_rating %}
                                                                            {% star_rating rating.rating %}
                                                                        </div><!-- End .ratings -->
                                                                    </div><!-- End .rating-container -->
                                                                    <span class="review-date">{{rating.date}}</span>
                                                                </div><!-- End .col -->
                                                                <div class="col">
                                                                    <h4>{{rating.headline}}</h4>

                                                                    <div class="review-content">
                                                                        <p>{{rating.review}}</p>
                                                                    </div><!-- End .review-content -->

                                                                    <div class="review-action">
                                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                                    </div><!-- End .review-action -->
                                                                </div><!-- End .col-auto -->
                                                            </div><!-- End .row -->
                                                        </div><!-- End .review -->
                                                        {% if user.is_authenticated and not user_rating %}
                                                            <form method="post">
                                                                {% csrf_token %}
                                                                {{ rating_form.as_p }}
                                                                <button type="submit" class="btn btn-primary">Submit Rating</button>
                                                            </form>
                                                        {% endif %}
                                                    </div><!-- End .reviews -->
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                        {% endfor %}


                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->
                            </div><!-- End .accordion -->
                            
                            <div class="sticky-bar">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="{{product.img_1.url}}" alt="Product image">
                                                </a>
                                            </figure><!-- End .product-media -->
                                            <h4 class="product-title"><a href="product.html">{{product.description}}</a></h4><!-- End .product-title -->
                                        </div><!-- End .col-6 -->
                        
                                        <div class="col-6 justify-content-end">
                                            <div class="product-price">
                                                {% if product.discount_price|floatformat:2|intcomma%}            
                                                <span class="new-price" id="new-price1">&#8358;{{product.discount_price|floatformat:2|intcomma}}</span>
                                                <span class="old-price">&#8358;{{product.price|floatformat:2|intcomma}}</span>
                                                {% else %}
                                                <span class="new-price" id="new-price1">&#8358;{{product.price|floatformat:2|intcomma}}</span>
                                                <span class="old-price">&#8358;{{product.discount_price|floatformat:2|intcomma}}</span>
                                                {% endif %}
                                            </div><!-- End .product-price -->
                                            <div class="product-details-quantity">
                                                <input type="number"  id="cart-quantity-input1" class="form-control" data-item-id="{{ product.id }}" value="{{ product.quantity }}" min="1" max="10" step="1" data-decimals="0" required="" name="quantity" value="{{ product.quantity }}" style="display: none;"><div class="input-group  input-spinner"><div class="input-group-prepend"><button style="min-width: 26px" class="btn btn-decrement btn-spinner" type="button"><i class="icon-minus"></i></button></div><input type="text" style="text-align: center" class="form-control " required="" placeholder=""><div class="input-group-append"><button style="min-width: 26px" class="btn btn-increment btn-spinner" type="button"><i class="icon-plus"></i></button></div></div>
                                                <!-- <input type="number" id="cart-quantity-input1" class="form-control" data-item-id="{{ product.id }}" value="{{ product.quantity }}" name="quantity" min="1" step="1" data-decimals="0" required> -->
                                            </div>              
                                            <div class="product-details-action">                                 
                                        <button class="btn-product btn-cart" id="cart-btn1"><span>add to cart</span></button>
                                            <button class="toggle-wishlist btn-product btn-wishlist btn" 
                                                data-add-url="{{ product.get_add_to_wishlist_url }}" 
                                                data-remove-url="{{ product.get_remove_from_wishlist_url }}" 
                                                data-product-id="{{ product.id }}" 
                                                >
                                            {% if in_wishlist %}
                                                Remove from Wishlist
                                            {% else %}
                                                Add to Wishlist
                                            {% endif %}
                                        </button>
                                        
                                                <!-- <button id="add-to-wishlist" class="btn-product btn-wishlist"data-url="{{ product.get_add_to_wishlist_url }}" class="btn btn-primary">Add to Wishlist</button> -->
                                                
                                                <!-- <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a> -->
                                            </div><!-- End .product-details-action -->
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .container -->
                            </div>
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    $(document).ready(function() {
        function debounce(func, wait) {
            let timeout;
            return function(...args) {
                const later = () => {
                    clearTimeout(timeout);
                    func.apply(this, args);
                };
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
            };
        }
/*
        const updateCart = debounce(function() {
            let cartId = $('#product-id').val();
            let quantity = $('#color-quantity-input').val();
            let size = $('#size').val();
            let color = $('#color').val();
        
            // Synchronize the values of the input fields
            $('#cart-quantity-input').val(quantity);
        
            console.log('Cart update triggered', { 'id': cartId, 'qty': quantity, 'size': size });
        
            $.ajax({
                url: "{% url 'store:update_cart_quantity' %}",
                method: 'POST',
                data: {
                    id: cartId,
                    quantity: quantity,
                    size: size,
                    color:color,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                    console.log('Success response:', response);
                    $('#new-price').text(`₦${response.total_price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`);
                    $('#new-price1').text(`₦${response.total_price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`);
                    $('#cart-quantity-input').val(response.qty);
                    $('#cart-quantity-input1').val(response.qty);
                },
                error: function(response) {
                    console.log('Error response:', response);
                }
            });
        }, 300); // Adjust debounce time as necessary
*/      
        $('#cart-color-input').off('change').on('change', function() {
            $('#cart-quantity-input1').val($(this).val());
            updateCart();
        });
        
        $('#cart-quantity-input1').off('change').on('change', function() {
            $('#cart-quantity-input').val($(this).val());
            updateCart();
        });



        function addToCart() {
            let productSlug = "{{ product.slug }}";
            console.log('Add to cart triggered', { 'slug': productSlug });
        
            // Assuming there are inputs with class 'color-quantity' containing color_id and quantity
            let colorQuantities = [];
            $('.color-quantity').each(function() {
                let colorId = $(this).data('color-id'); // Assume each input has a data attribute for color_id
                let quantity = $(this).val();
                if (quantity > 0) {
                    colorQuantities.push({ color_id: colorId, quantity: quantity });
                }
            });
        
            $.ajax({
                url: "{% url 'store:add-to-cart' %}",
                method: 'POST',
                data: {
                    slug: productSlug,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    color_quantities: JSON.stringify(colorQuantities) // Convert to JSON string for transmission
                },
                success: function(response) {
                    console.log('Success response:', response);
                    $('#cart-count').html(response.cart_count);
                    
                    // Display messages using SweetAlert
                    if (response.messages) {
                        response.messages.forEach(function(message) {
                            Swal.fire({
                                text: message.message,
                                icon: message.tags.includes('success') ? 'success' : 'error',
                                timer: 3000,
                                showConfirmButton: false
                            });
                        });
                    } else {
                        console.log('No messages in response');
                    }
        
                    // Change button ID and text
                    $('#cart-btn').attr('id', 'delete-btn').text('Delete Cart');
                    $('#cart-btn1').attr('id', 'delete-btn1').text('Delete Cart');
        
                    // Attach delete event
                    $('#delete-btn').off('click').on('click', deleteFromCart);
                    $('#delete-btn1').off('click').on('click', deleteFromCart);
                },
                error: function(response) {
                    console.log('Error response:', response);
                }
            });
        }




function deleteFromCart() {
            let productSlug = "{{ product.slug }}";
            console.log('Delete from cart triggered', { 'slug': productSlug });

            $.ajax({
                url: "{% url 'store:delete-from-cart' %}",
                method: 'POST',
                data: {
                    slug: productSlug,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                    console.log('Success response:', response);
                    $('#cart-count').html(response.cart_count);

                    // Change button ID and text back to add to cart
                    $('#delete-btn').attr('id', 'cart-btn').text('Add to Cart');
                    $('#delete-btn1').attr('id', 'cart-btn1').text('Add to Cart');

                    // Display messages using SweetAlert
                    // Display messages using SweetAlert
                    if (response.messages) {
                        response.messages.forEach(function(message) {
                            Swal.fire({
                                text: message.message,
                                icon: message.tags.includes('success') ? 'success' : 'error',
                                timer: 3000,
                                showConfirmButton: false
                            });
                        });
                    } else {
                        console.log('No messages in response');
                    }

                    // Attach add event
                    $('#cart-btn').off('click').on('click', addToCart);
                    $('#cart-btn1').off('click').on('click', addToCart);
                },
                error: function(response) {
                    console.log('Error response:', response);
                }
            });
        }

        // Attach initial add to cart event
        $('#cart-btn').off('click').on('click', addToCart);
        $('#cart-btn1').off('click').on('click', addToCart);   
    });

    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    $(document).ready(function() {
        $('.toggle-wishlist').click(function() {
            var button = $(this);
            var add_url = button.data('add-url');
            var remove_url = button.data('remove-url');
            var in_wishlist = button.text().trim() === 'Remove from Wishlist';

            var url = in_wishlist ? remove_url : add_url;
            $.ajax({
                url: url,
                method: 'GET',
                success: function(response) {
                    if (response.in_wishlist) {
                        $('.toggle-wishlist[data-product-id="' + button.data('product-id') + '"]').text('Remove from Wishlist');
                    } else {
                        $('.toggle-wishlist[data-product-id="' + button.data('product-id') + '"]').text('Add to Wishlist');
                    }
                }
            });
        });
    });


</script>
   

{% endblock %}
