{% extends 'store/base.html' %}


{% block content %}
<div class="container">
    <h4>Apply coupon code here</h4>
    <div class="checkout-discount">
        <form method="post" action="{% url 'store:apply-coupon' %}">
            {% csrf_token %}
            <div>
                <label>have a coupon?</label>
                <input class="form-control" placeholder="apply coupon here" name="code">
                <button type="submit" class="btn btn-secondary">redeem</button>
            </div>
        </form>
    </div><!-- End .checkout-discount -->
    
</div>
{% endblock content %}
    