
{% block newsletter %}
    
    
            
            <div class="cta-newsletter text-center pt-4 pb-7">
                <div class="container">
                    <span class="cta-icon"><i class="icon-envelope"></i></span>
                    <h3 class="title">Subscribe for Our Newsletter</h3><!-- End .title -->
                    <p class="title-desc">and receive <span class="text-primary">$20 coupon</span> for first shopping</p><!-- End .title-desc -->
                    
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" aria-describedby="newsletter-btn" required>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="submit" id="newsletter-btn"><span>SUBSCRIBE</span><i class="icon-long-arrow-right"></i></button>
                            </div><!-- .End .input-group-append -->
                        </div><!-- .End .input-group -->
                    </form>

                    <p class="newsletter-desc">Your personal details are safe with us.</p><!-- End .newsletter-desc -->
                </div><!-- End .container -->
            </div><!-- End .cta-newsletter -->
{% endblock newsletter %}
