{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}    

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store:categories-list' %}">Shop</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store:cart' %}">Cart</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store:cart' %}">address</a></li>
                <li class="breadcrumb-item active" aria-current="page">edit</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    
    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    {% if coupon %}
                        {% for code in coupon %}
                            <p style="color: rgb(110, 194, 2);">Use {{ code.code }}</p>
                        {% endfor %}
                    {% endif %}
                    <form method="post" action="{% url 'store:apply-coupon' %}?next={{ request.path }}">
                        {% csrf_token %}
                        {{ order.coupon_form.code }}
                        <button class="btn btn-primary" type="submit">Apply</button>
                    </form>
                </div><!-- End .checkout-discount -->
                
                <form action="{% url 'store:check-out' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            
                            <label>Country *</label>
                            {{ form.country }}

                            <label>Street address *</label>
                            <label>Street address *</label>
                            {{ form.street_address }}
                            {{ form.apartment }}

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Town / City *</label>
                                    <select id="id_town" name="town" class="form-control">
                                        <option value="">Select City</option>
                                    </select>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>State</label>
                                    <select id="state-select" name="state" class="form-control">
                                        {% for value, display in form.state.field.choices %}
                                            <option value="">select state</option>
                                            <option value="{{ value }}">{{ display }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Postcode / ZIP *</label>
                                    {{ form.zip_code }}
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Phone *</label>
                                    {{ form.telephone }}
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <label>Order notes (optional)</label>
                            {{ form.message }}
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                    <button class="btn btn-secondary">update</button>
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<script>
    $(document).ready(function() {
        $('#state-select').change(function() {
            var state = $(this).val();
            if (state) {
                $.ajax({
                    url: '{% url "store:load_cities" %}',  // URL for the AJAX view
                    data: {
                        'state': state
                    },
                    success: function(data) {
                        var $citySelect = $('#id_town');
                        $citySelect.empty();  // Clear existing options
                        $citySelect.append(new Option("Select City", "")); // Add a default option

                        // Populate new options
                        $.each(data, function(index, city) {
                            $citySelect.append(new Option(city.town_name, city.town_name));
                        });
                    },
                    error: function() {
                        alert('Error loading cities. Please try again.');
                    }
                });
            } else {
                $('#id_town').empty().append(new Option("Select City", ""));
            }
        });
    });

</script>

{% endblock content %}
